<section class="row land">
  <div class="col-sm-12 ">
    <nav class="navbar navbar-dark bg-transparent">
      <h2 class="navbar-brand" [hidden]="true">HOAN</h2>
      <a routerLink="/registro" routerLinkActive="active" class="btn btn-outline-dark">Registro</a>
      <a href="" class="btn btn-dark">Iniciar Sesión</a>
    </nav>
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-10 col-md-4 hero">
        <div class="row">
          <h1 class="typed-element"></h1>
        </div>
        <h5>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</h5>
      </div>
      <div class="col-md-1"></div>
      <div fxShow.sm="false" fxShow.xs="false" fxShow="true" class="col-md-6">
          <div class="row">

          </div>
          <div class="row">
            <div class="imagen">
              <img src="../../../assets/img/feminismo.png" alt="mujeres unidas">
            </div>
          </div>
        </div>
    </div>
  </div>


</section>

