@import "../../variables";
@import "../../mediaUniversal";

.land {
  height: 100vh;
  width: inherit;
  color: $fuente;
  position: relative;
  background: $primary;

  h1 {
    color: $fuente;
    opacity: 1;
    font-size: 4rem;
    padding: 8rem 0 0 18px;
    margin: 0 auto;
  }

  nav{
    height: 10vh;
    a{
      display: inline-block;
      position: absolute;
      right: 0;
      top: 1rem;
      width: 12rem;

      @include media-universal(800px){
        font-size: .8rem;
        width: 8rem;

      }

    }

    a.btn-outline-dark{
      margin-right: 14rem;

      @include media-universal(800px){
        margin-right: 9rem;
      }
    }
  }


  .imagen{
    height: 90vh;
    width: inherit;
    display: flex;

    img {
      justify-self: center;
      align-self: center;
    }
  }
}

.hero{
  padding-top: 2rem;

  h1{
    padding-right: 1rem;
  }

  h1::before{
    content: ".";
    visibility: hidden;
  }

  h5{
    text-align: center;
  }
}



// .landR{
//   background-color: $hot-pink;
//   height: 100vh;
//   button{
//     position: absolute;
//     top: 0;

//   }
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

img {
  height: 400px;
  max-width: 100%;
}
