@import "../../variables";
@import "../../mediaUniversal";

.intel{
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #bbb;

  .tarjetas{
    margin-top: 2rem;
    height: 50vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    @include media-universal(800px){
      height: 150vh;
      width: 100%;
      flex-flow: column nowrap;
    }

    .tarjeta{
      width: 33.3%;
      display: inherit;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 0 1rem;

      @include media-universal(800px){
        width: 100%;
        flex-flow: column nowrap;
        margin-bottom: 2rem;
      }

      h6{
        text-align: center;
      }
    }
  }


}

.celu{
  border-top: 1px solid #bbb;
  height: 90vh;
  background-color: $fuente;
  p{
    font-size: .8rem;
  }
  @include media-universal(800px){
    height: 110vh;
    h3{
      font-size: 1.5rem;
      text-align: center;
    }

  }
}

.mock{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    max-width: 100%;
  }
}

.icos{
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  color: $blanco;
  padding-top: 2rem;
  .neon{


    display: inherit;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    padding: 0 1rem;
    img{
      width: 90px;
    }
    p{
      text-align: center;
    }
  }
}
