<section class="row">
  <div class="col-sm-12 intel">
    <div class="tarjetas">
        <div class="tarjeta" data-aos="zoom-in">
            <img src="../../../assets/img/ico-reloj.png" alt="reloj">
            <h2>Solo 5 minutos</h2>
            <h6>En 5 minutos se resuelve el problema</h6>
          </div>
          <div class="tarjeta" data-aos="zoom-in">
            <img src="../../../assets/img/ico-mujer.png" alt="reloj">
            <h2>Solo 5 minutos</h2>
            <h6>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</h6>
          </div>
          <div class="tarjeta" data-aos="zoom-in">
            <img src="../../../assets/img/ico-ok.png" alt="reloj">
            <h2>Solo 5 minutos</h2>
            <h6>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</h6>
          </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-4 celu" fxShow.sm="false" fxShow.xs="false" fxShow="true">
    <div class="mock">
      <img src="../../../assets/img/celular.png" alt="">
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 celu">
    <div class="icos">
      <div class="neon" data-aos="fade-right">
        <img src="../../../assets/img/n1.png" alt="">
        <h3>Almacenamiento en la nube</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata.</p>
      </div>
      <div class="neon" data-aos="fade-right">
        <img src="../../../assets/img/n2.png" alt="">
        <h3>Integración con redes sociales</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick  cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​.</p>
      </div>
      <div class="neon" data-aos="fade-left">
        <img src="../../../assets/img/n3.png" alt="">
        <h3>Mensajería peer to peer</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum  corpora quaeritis. Summus brains sit​​.</p>
      </div>
      <div class="neon" data-aos="fade-left">
        <img src="../../../assets/img/n4.png" alt="">
        <h3>Buzón de ideas</h3>
        <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​  corpora quaeritis.Summus brains .</p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="row intel">
  <div class="col-sm-12">
    <div class="row cartas">
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>En 5 minutos se resuelve el problema</h6>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>En 5 minutos se resuelve el problema</h6>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
            quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum
            mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus
            comedat cerebella viventium. Qui animated corpse.</h6>
        </div>
      </div>
    </div>


    <div class="row pie">
      <div class="col-md-12">
        <img src="../../../assets/img/portada.png" alt="">
      </div>
    </div>
  </div>
</section> -->
