<section class="row">
  <div class="col-sm-12 intel">
    <div class="tarjetas">
      <div class="tarjeta" data-aos="zoom-in">
        <img src="../../../assets/img/ico-reloj.png" alt="reloj" />
        <h2>Solo 5 minutos</h2>
        <h6>
          Actuando a tiempo en tan solo 5 minutos puedes pasar de una situación
          potencialmente peligrosa a estar completamente segura.
        </h6>
      </div>
      <div class="tarjeta" data-aos="zoom-in">
        <img src="../../../assets/img/ico-mujer.png" alt="reloj" />
        <h2>Un entorno seguro</h2>
        <h6>
          En <i>HOAN</i> nos importa mucho construir una base de usuarios en
          quienes puedas confiar.
        </h6>
      </div>
      <div class="tarjeta" data-aos="zoom-in">
        <img src="../../../assets/img/ico-ok.png" alt="reloj" />
        <h2>Transparencia</h2>
        <h6>
          Puedes estar completamente segura de que tus datos no serán utilizados
          sin tu consentimiento ni con fines económicos.
        </h6>
      </div>
    </div>
  </div>
</section>
<section class="row">
  <div class="col-md-4 celu" fxShow.sm="false" fxShow.xs="false" fxShow="true">
    <div class="mock">
      <img src="../../../assets/img/celular.png" alt="" />
    </div>
  </div>
  <div class="col-lg-8 col-sm-12 celu">
    <div class="icos">
      <div class="neon" data-aos="fade-right">
        <img src="../../../assets/img/n1.png" alt="" />
        <h3>Almacenamiento en la nube</h3>
        <p>
          Toda tu información se ligará a tu cuenta, esta se mantendrá en
          constante actualización y así evitar cualquier tipo de pérdida.
        </p>
      </div>
      <div class="neon" data-aos="fade-right">
        <img src="../../../assets/img/n2.png" alt="" />
        <h3>Integración con redes sociales</h3>
        <p>
          Nuestra app se integra con las aplicaciones de redes sociales más
          populares para que puedas seleccionar tus contactos de confianza desde
          ahí.
        </p>
      </div>
      <div class="neon" data-aos="fade-left">
        <img src="../../../assets/img/n3.png" alt="" />
        <h3>Mensajería peer to peer</h3>
        <p>
          En <i>HOAN</i> tus conversaciones y operaciones solo podrán ser
          avistadas por el emisor y el receptor.
        </p>
      </div>
      <div class="neon" data-aos="fade-left">
        <img src="../../../assets/img/n4.png" alt="" />
        <h3>Buzón de ideas</h3>
        <p>
          <i>HOAN</i> es un proyecto de la comunidad para la comunidad,
          cualquier sugerencia puedes enviarla desde la aplicación o a la web
          equis.org.mx .
        </p>
      </div>
    </div>
  </div>
</section>

<!-- <section class="row intel">
  <div class="col-sm-12">
    <div class="row cartas">
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>En 5 minutos se resuelve el problema</h6>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>En 5 minutos se resuelve el problema</h6>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="carta">
          <img src="../../../assets/img/ico-reloj.png" alt="reloj">
          <h2>Solo 5 minutos</h2>
          <h6>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora
            quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum
            mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus
            comedat cerebella viventium. Qui animated corpse.</h6>
        </div>
      </div>
    </div>


    <div class="row pie">
      <div class="col-md-12">
        <img src="../../../assets/img/portada.png" alt="">
      </div>
    </div>
  </div>
</section> -->
