<section class="row">
  <div class="col-md-12 ceduk">
    <h1 data-aos="fade-up">Hecho con <span class="ion ion-md-heart"></span> en <img src="../../../assets/img/ceduk.png" alt=""></h1>
  </div>
</section>
<footer class="row page-footer font-small blue pt-4">


        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">HOAN</h5>
          <p>Hoan es un proyecto libre y social, sus desarrolladores se deslindan completamente de las consecuencias que traiga a futuro.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3" [hidden]="true">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3" [hidden]="true">

          <!-- Links -->
          <h5 class="text-uppercase">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    <!-- Copyright -->
    <div class="footer-copyright  py-3">2019 Peña&Peña
    </div>
    <!-- Copyright -->

  </footer>

