@import "../../variables";
@import "../../mediaUniversal";

.ceduk {
  height: 80vh;
  width: 100vw;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 100px;
    width: 100px;
    padding-left: 0.3rem;
  }

  @include media-universal(800px) {
    h1 {
      font-size: 2rem;
    }
  }

  .ion {
    color: #ff0000;
  }
}

footer {
  background-color: $fuente;
  color: $blanco;
}

.footer-copyright {
  position: relative;
  left: 35%;
  padding-top: 10px;
}
