<section class="formulario-page">
  <div class="formulario" data-aos="fade-down">
    <div class="imghold">
      <img src="http://place-puppy.com/100x100" alt="Placeholder Puppy">
    </div>
    <h1>Registro</h1>
    <form action="" method="post" [formGroup]="form" (ngSubmit)="login()">
      <div class="form-group">
          <input class="form-control" formControlName="usuario" placeholder="Nombre" type="text" name="Nombre" id="">
          <div *ngIf="form.get('usuario').touched && form.get('usuario').invalid" class="alert alert-danger">El nombre es requerido</div>
      </div>
      <div class="form-group">
          <input class="form-control" formControlName="contraseña" placeholder="Contraseña" type="password" name="Password" id="">
          <div *ngIf="form.get('contraseña').touched && form.get('contraseña').invalid" class="alert alert-danger">El pass es requerida</div>
      </div>
      <div class="form-group">
          <input class="form-control" formControlName="celular" placeholder="Número celular" type="text" name="Celular" id="">
          <div *ngIf="form.get('celular').touched && form.get('celular').invalid" class="alert alert-danger">El celular es requerido</div>
      </div>

      <input type="submit" value="Enviar" class="btn btn-outline-primary">
    </form>
    <a href=""  class="footer">Volver al sitio</a>
  </div>
</section>
