<section class="formulario-page">
  <div class="formulario" data-aos="fade-down">
    <div class="imghold">
      <img src="http://place-puppy.com/100x100" alt="Placeholder Puppy">
    </div>
    <h1>Registro</h1>
    <form action="" method="post">
      <input class="form-control" placeholder="Nombre" type="text" name="Nombre" id="">
      <input class="form-control" placeholder="Contraseña" type="password" name="Password" id="">
      <input class="form-control" placeholder="Número celular" type="text" name="Celular" id="">
      <input type="submit" value="Enviar" class="btn btn-outline-primary">
    </form>
    <a href="" class="footer">Volver al sitio</a>
  </div>
</section>
